force-app/main/default/flows/Alerta_Oportunidades_Equipo_Oportunidades.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Mandar_correo_a_destinatario_ganada</name>
        <label>Mandar correo a destinatario ganada</label>
        <locationX>138</locationX>
        <locationY>2279</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Recorrer_lista_de_correos</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Templateganada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>CorreoUsuario</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Oportunidad ganada</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Mandar_correo_a_destinatario_perdida</name>
        <label>Mandar correo a destinatario perdida</label>
        <locationX>402</locationX>
        <locationY>2279</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Recorrer_lista_de_correos</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Templateperdida</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>CorreoUsuario</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Aniadir_correo_a_lista_de_correos</name>
        <label>Aniadir correo a lista de correos</label>
        <locationX>138</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>Correos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_los_registros_de_team_opportunity_member.User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_los_registros_de_team_opportunity_member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aniadir_correo_a_variable</name>
        <label>Aniadir correo a variable</label>
        <locationX>270</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>CorreoUsuario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_lista_de_correos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Oportunidad_ganada_o_perdida_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aniadir_jefe_de_ejecucion_email_a_lista</name>
        <label>Aniadir jefe de ejecucion email a lista</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Correos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_proyect_lines_pertenecientes_a_la_Opp.Jefe_de_Proyecto_de_Ejecucion__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comprobar_si_hay_jefe_de_proyecto_preventa_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aniadir_jefe_de_preventa_email_a_la_lista_0</name>
        <label>Aniadir jefe de preventa email a la lista</label>
        <locationX>138</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Correos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorrer_proyect_lines_pertenecientes_a_la_Opp.Jefe_de_Proyecto_de_Preventa__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_proyect_lines_pertenecientes_a_la_Opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Comprobar_si_hay_jefe_de_proyecto_preventa_0_0</name>
        <label>Comprobar si hay jefe de proyecto preventa</label>
        <locationX>270</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Recorrer_proyect_lines_pertenecientes_a_la_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tiene jefe preventa</defaultConnectorLabel>
        <rules>
            <name>Tiene_jefe_preventa_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_proyect_lines_pertenecientes_a_la_Opp.Jefe_de_Proyecto_de_Preventa__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aniadir_jefe_de_preventa_email_a_la_lista_0</targetReference>
            </connector>
            <label>Tiene jefe preventa</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_si_la_sede_es_la_que_se_pide</name>
        <label>Comprobar si la sede es la que se pide</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sedes_obligatorias</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sede_Venta__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sede_Venta__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sede_Venta__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1210</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sede_Venta__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1800</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proyect_Lines_pertenecientes_a_la_Opp</targetReference>
            </connector>
            <label>Sedes obligatorias</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobar_si_tiene_correo_jefe_ejecucion</name>
        <label>Comprobar si tiene correo jefe ejecucion</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Comprobar_si_hay_jefe_de_proyecto_preventa_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene jefe proyecto program</defaultConnectorLabel>
        <rules>
            <name>Tiene_jefe_proyecto_ejecucion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Recorrer_proyect_lines_pertenecientes_a_la_Opp.Jefe_de_Proyecto_de_Ejecucion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aniadir_jefe_de_ejecucion_email_a_lista</targetReference>
            </connector>
            <label>Tiene jefe proyecto ejecucion</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oportunidad_ganada_o_perdida_0</name>
        <label>Oportunidad ganada o perdida?</label>
        <locationX>270</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Mandar_correo_a_destinatario_perdida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Oportunidad perdida</defaultConnectorLabel>
        <rules>
            <name>Oportunidad_ganada_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ganada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mandar_correo_a_destinatario_ganada</targetReference>
            </connector>
            <label>Oportunidad ganada</label>
        </rules>
    </decisions>
    <description>Manda alertas de las oportunidades ganadas o perdidas al equipo oportunidades y a los líderes de proyect y preventa.</description>
    <interviewLabel>Alerta Oportunidades Equipo Oportunidades {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alerta Oportunidades Equipo Oportunidades</label>
    <loops>
        <name>Recorrer_lista_de_correos</name>
        <label>Recorrer lista de correos</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <collectionReference>Correos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aniadir_correo_a_variable</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Recorrer_los_registros_de_team_opportunity_member</name>
        <label>Recorrer los registros de team opportunity member</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <collectionReference>Obtener_todos_los_registros_de_equipo_oportunidad</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aniadir_correo_a_lista_de_correos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Recorrer_lista_de_correos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Recorrer_proyect_lines_pertenecientes_a_la_Opp</name>
        <label>Recorrer proyect lines pertenecientes a la Opp</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Proyect_Lines_pertenecientes_a_la_Opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Comprobar_si_tiene_correo_jefe_ejecucion</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obtener_todos_los_registros_de_equipo_oportunidad</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_todos_los_registros_de_equipo_oportunidad</name>
        <label>Obtener todos los registros de equipo oportunidad</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_los_registros_de_team_opportunity_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Lista de proyect lines que pertenecen a la oportunidad.</description>
        <name>Proyect_Lines_pertenecientes_a_la_Opp</name>
        <label>Proyect Lines pertenecientes a la Opp</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorrer_proyect_lines_pertenecientes_a_la_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Linea_de_Proyecto__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Jefe_de_Proyecto_de_Ejecucion__c</queriedFields>
        <queriedFields>Jefe_de_Proyecto_de_Preventa__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comprobar_si_la_sede_es_la_que_se_pide</targetReference>
        </connector>
        <filterLogic>(1 OR 2)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ganada</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Perdida</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>Templateganada</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;img src=&quot;https://encuestasvass.force.com/resource/Vassheader&quot; width=&quot;60%&quot;  height=&quot;auto&quot; /&gt;&lt;/p&gt;
&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 14px;&quot;&gt;Hola a tod@s,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 14px;&quot;&gt;¡Una más! Ya estamos más cerca de alcanzar los objetivos de equipo:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(33, 33, 33);&quot;&gt;- Fecha Ganada:{!$Record.LastStageChangeDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;- Cliente:{!$Record.Account.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: red; font-size: 14px;&quot;&gt;-&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Tipo proyecto&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: red;&quot;&gt;:&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;{!$Record.RecordType.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 14px;&quot;&gt;- Disciplina principal: Contenidos&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 14px;&quot;&gt;- Coordinador oferta:{!$Record.Owner.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;- Margen :&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: arial;&quot;&gt;{!$Record.Margen_bruto__c}%&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;- Presupuesto:&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: arial;&quot;&gt;{!$Record.Importe_total__c}€&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: arial;&quot;&gt;- Fecha de Inicio:{!$Record.Fecha_de_inicio__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: arial;&quot;&gt;- Fecha de Fin:{!$Record.Fecha_de_fin__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 14px;&quot;&gt;Estos son los siguientes pasos que voy a realizar con Controlling:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 14px;&quot;&gt;1. Hoja de pedido interno/intercompany.&lt;/span&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 14px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 14px;&quot;&gt;2. Oferta y excel económico.&lt;/span&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 14px; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 14px;&quot;&gt;3. Creación del proyecto en TR.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 33, 33); font-size: 14px;&quot;&gt;Cualquier ayuda será muy bien recibida ;)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Para mas información acceda al siguiente enlace:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://vassorg--cri.my.salesforce.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: arial; background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;https://vassorg--cri.my.salesforce.com/{!$Record.Id}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Templateperdida</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://encuestasvass.force.com/resource/Vassheader&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hola&amp;nbsp;a tod@s,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;La oportunidad&amp;nbsp;con nombre &quot;{!$Record.Name}&quot;&amp;nbsp;se ha perdido!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: arial; font-size: 14px;&quot;&gt;Pincha en el siguiente enlace para obtener mas&amp;nbsp;información:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://vassorg--cri.my.salesforce.com/{!$Record.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); font-family: arial; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;https://vassorg--cri.my.salesforce.com/{!$Record.Id}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;&amp;nbsp;Un saludo&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Los correos a los que mandaremos un email.</description>
        <name>Correos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CorreoUsuario</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
