force-app/main/default/flows/ChangeDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>ADD</name>
        <dataType>Date</dataType>
        <expression>{!ForEachLp.Fecha_Inicio__c} + ({!Close_Date}-{!Get_opp.CloseDate})</expression>
    </formulas>
    <formulas>
        <name>AddEndDate</name>
        <dataType>Date</dataType>
        <expression>{!ForEachLp.Fecha_Fin__c} + ({!Close_Date}-{!Get_opp.CloseDate})</expression>
    </formulas>
    <interviewLabel>ChangeDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ChangeDate</label>
    <loops>
        <name>ForEachLp</name>
        <label>ForEachLp</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>LPS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LpsActu</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_opp</name>
        <label>Get opp</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Close_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LPS</name>
        <label>LPS</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForEachLp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Linea_de_Proyecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>LpsActu</name>
        <label>LpsActu</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>ForEachLp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ForEachLp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Fin__c</field>
            <value>
                <elementReference>AddEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Inicio__c</field>
            <value>
                <elementReference>ADD</elementReference>
            </value>
        </inputAssignments>
        <object>Linea_de_Proyecto__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>opp</name>
        <label>opp</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Current_Close_Date</name>
        <label>Current Close Date</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LPS</targetReference>
        </connector>
        <fields>
            <name>Help</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please, select the new Close Date(all Project Lines will be updated):&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Close_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_opp.CloseDate</elementReference>
            </defaultValue>
            <fieldText>Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update</name>
        <label>Update</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>All</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;All has been Updated!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
