force-app/main/default/flows/Competidores.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Se ha creado el registo</description>
        <name>ShowToast</name>
        <label>ShowToast</label>
        <locationX>822</locationX>
        <locationY>712</locationY>
        <actionName>c:ShowToast_Flow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Oferta registrada correctamente</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Exito!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToast_Flow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>Opciones</name>
        <choiceText>{!OportunidadPadre.Competidores__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>OportunidadPadre.Competidores__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Valor_Opcion</name>
        <choiceText>{!Multipicklist_Oportunidad}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Multipicklist_Oportunidad</elementReference>
        </value>
    </choices>
    <decisions>
        <name>No_relleno</name>
        <label>No relleno</label>
        <locationX>428</locationX>
        <locationY>336</locationY>
        <defaultConnector>
            <targetReference>OfertaCompetidora</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Opciones2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Competidor_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Opciones</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Competidores22</targetReference>
            </connector>
            <label>If no relleno</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Lista_Competidores</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Competidores__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Motivo_Perdida</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Motivo_Perdida__c</picklistField>
        <picklistObject>Oferta_Competidora__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Formulapicklist</name>
        <dataType>String</dataType>
        <expression> SUBSTITUTE(
SUBSTITUTE({!Competidor_c}, &apos;[&apos; , &apos;&apos;),
&apos;]&apos;,
&apos;;C&apos;)</expression>
    </formulas>
    <interviewLabel>Competiudores {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Competitor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>OfertaCompetidora</name>
        <label>Oferta Competidora</label>
        <locationX>728</locationX>
        <locationY>417</locationY>
        <connector>
            <targetReference>ShowToast</targetReference>
        </connector>
        <inputAssignments>
            <field>Comentarios_Adicionales__c</field>
            <value>
                <elementReference>Comentarios_Adicionales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competidor__c</field>
            <value>
                <elementReference>Formulapicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_Ganador__c</field>
            <value>
                <elementReference>Oferta_ganadora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_Perdida__c</field>
            <value>
                <elementReference>Motivo_de_la_Perdida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Perdida__c</field>
            <value>
                <elementReference>Oportunidad.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Oferta_Competidora__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>OportunidadPadre</name>
        <label>OportunidadPadre</label>
        <locationX>734</locationX>
        <locationY>101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Competitors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Competidores22</name>
        <label>Competidores</label>
        <locationX>218</locationX>
        <locationY>271</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Competitors</targetReference>
        </connector>
        <fields>
            <name>Debeellenaruncompetidor</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;At least one competitor must fill in&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://vassorg--c.eu27.content.force.com/sfc/servlet.shepherd/version/download/0683V000006Xc3s?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Competitors</name>
        <label>Competitors</label>
        <locationX>705</locationX>
        <locationY>279</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>No_relleno</targetReference>
        </connector>
        <fields>
            <name>Texto_Ayuda</name>
            <fieldText>&lt;p&gt;Fill in the following fields if you know the company that won the opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Competidor_c</name>
            <choiceReferences>Lista_Competidores</choiceReferences>
            <choiceReferences>Opciones</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Opciones</defaultSelectedChoiceReference>
            <fieldText>Competitor</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Elegir sólo 1&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Oportunidad</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Linea_de_Proyecto__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Oportunidad__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Motivo_de_la_Perdida</name>
            <choiceReferences>Motivo_Perdida</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Oferta_ganadora</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Comentarios_Adicionales</name>
            <dataType>String</dataType>
            <fieldText>Additional Comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>138</locationX>
        <locationY>94</locationY>
        <connector>
            <targetReference>OportunidadPadre</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MotivoEconomico</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Motivos</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Multipicklist_Oportunidad</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
