force-app/main/default/flows/ComprobacionHitos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <customErrors>
        <name>ErroHitos</name>
        <label>ErroHitos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecorrerLps</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>Some of the TurnKey project lines  do not have billing milestones. Is necessary to generate the billing milestone to create the WBS Element.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>HayLpsdecision</name>
        <label>HayLps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Haylps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LpsLL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecorrerLps</targetReference>
            </connector>
            <label>Haylps</label>
        </rules>
    </decisions>
    <decisions>
        <name>NotieneHitosll</name>
        <label>NotieneHitosll</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>RecorrerLps</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NohayHitosLL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HitosDeLp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErroHitos</targetReference>
            </connector>
            <label>NohayHitosLL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ComprobacionHitos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ComprobacionHitos</label>
    <loops>
        <name>RecorrerLps</name>
        <label>RecorrerLps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>LpsLL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HitosDeLp</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>HitosDeLp</name>
        <label>HitosDeLp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NotieneHitosll</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Linea_de_Proyecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorrerLps.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Hito_de_facturacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>LpsLL</name>
        <label>LpsLL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HayLpsdecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clave_Periodificacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZLLWIP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>No_aplica_para_ejecucion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Linea_de_Proyecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LpsLL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ganada</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isOnEPPM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
