force-app/main/default/flows/Create_Forecast.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Suma</name>
        <label>Suma</label>
        <locationX>940</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ttttttt</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Llegamos</name>
        <label>Llegamos</label>
        <locationX>1072</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>ttttttt_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sigue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Months</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Counter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suma</targetReference>
            </connector>
            <label>Sigue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene</name>
        <label>Tiene analiticas viejas</label>
        <locationX>1072</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Llegamos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_analiticas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borradp</targetReference>
            </connector>
            <label>Hay</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Increment</name>
        <dataType>Number</dataType>
        <expression>{!Counter}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Forecast {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Forecast</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Analitica</name>
        <label>Analitica</label>
        <locationX>947</locationX>
        <locationY>1207</locationY>
        <connector>
            <targetReference>Llegamos</targetReference>
        </connector>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>Opp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Elemento_PEP__c</field>
            <value>
                <elementReference>Opp.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe_Forecast__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsFramework__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mercado__c</field>
            <value>
                <elementReference>Opp.Mercado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Propietario__c</field>
            <value>
                <elementReference>Opp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120N000000wuKAQAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sede_Venta__c</field>
            <value>
                <elementReference>Opp.Sede_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <object>Analitica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Borradp</name>
        <label>Borradp</label>
        <locationX>940</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Llegamos</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error</targetReference>
        </faultConnector>
        <inputReference>Get_analiticas</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_analiticas</name>
        <label>Get analiticas</label>
        <locationX>1072</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tiene</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Analitica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opp</name>
        <label>Opp</label>
        <locationX>1072</locationX>
        <locationY>290</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_analiticas</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Forecast</name>
        <label>Create Forecast</label>
        <locationX>1072</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Opp</targetReference>
        </connector>
        <fields>
            <name>Textshow</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;For how many months do you want to generate forecast of this opportunity (maximum 12 months)?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Months</name>
            <dataType>Number</dataType>
            <fieldText>Months</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error</name>
        <label>error</label>
        <locationX>760</locationX>
        <locationY>730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_0</name>
        <label>error</label>
        <locationX>770</locationX>
        <locationY>445</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_0_0</name>
        <label>error</label>
        <locationX>822</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ttttttt</name>
        <label>ttt</label>
        <locationX>616</locationX>
        <locationY>1013</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Analitica</targetReference>
        </connector>
        <fields>
            <name>Ingreso</name>
            <fieldText>&lt;p&gt;Enter the amount for month:{!Counter}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ttttttt_0</name>
        <label>ttt</label>
        <locationX>1204</locationX>
        <locationY>914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>hol_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The forecast has been Saved!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thanks,&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>946</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Create_Forecast</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
