force-app/main/default/flows/Generacion_Analiticas_Pipeline.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Aniadir_Analitica_Nueva</name>
        <label>Aniadir Analitica Nueva</label>
        <locationX>1436</locationX>
        <locationY>1186</locationY>
        <assignmentItems>
            <assignToReference>AnaliticaNueva.Mercado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mercado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnaliticaNueva.Clan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_Proyecto.Gerencia__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnaliticaNueva.Oportunidad__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnaliticaNueva.Sede_Venta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sede_Venta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnaliticaNueva.Importe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_Proyecto.Importe_a_elevar__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnaliticaNueva.Consejo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_Proyecto.Area__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnaliticaNueva.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnaliticaNueva.Fecha__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnaliticaNueva.Cuenta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnaliticaNueva.Tipo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnaliticaNueva.Linea_de_Proyecto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_Proyecto.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Analiticas_de_Lineas_de_Proyecto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AnaliticaNueva</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AnaliticaNueva.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrer_Lineas_de_Proyecto.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorrer_Lineas_de_Proyecto</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Es_creacion_o_actualizacion</name>
        <label>¿Es creación o actualización?</label>
        <locationX>420</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>Tiene_Analiticas_de_pipe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Creacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Analitica</targetReference>
            </connector>
            <label>Creación</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proba</name>
        <label>Prob</label>
        <locationX>599</locationX>
        <locationY>1226</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>prob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Probability</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_lineas_de_proyecto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Se_ha_cerrado_la_oportunidad</targetReference>
            </connector>
            <label>prob</label>
        </rules>
        <rules>
            <name>prob2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Probability</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Analitica</targetReference>
            </connector>
            <label>prob2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Nulo</name>
        <label>¿Record Type Nulo?</label>
        <locationX>776</locationX>
        <locationY>550</locationY>
        <defaultConnectorLabel>Si es Nulo</defaultConnectorLabel>
        <rules>
            <name>No_es_Nulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_creacion_o_actualizacion</targetReference>
            </connector>
            <label>No es Nulo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_ha_cerrado_la_oportunidad</name>
        <label>¿Se ha cerrado la oportunidad?</label>
        <locationX>1059</locationX>
        <locationY>940</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Se_ha_cerrado</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ganada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perdida</stringValue>
                </rightValue>
            </conditions>
            <label>Se ha cerrado</label>
        </rules>
        <rules>
            <name>No_se_ha_cerrado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mercado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clan_Principal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sede_Venta__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GeneratePipeline__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recorrer_Lineas_de_Proyecto</targetReference>
            </connector>
            <label>No se ha cerrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Analiticas_de_pipe</name>
        <label>Tiene Analiticas de pipe</label>
        <locationX>592</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Proba</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_Analiticas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Borrar_Analiticas</targetReference>
            </connector>
            <label>Tiene?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Comprobar si la operación es de tipo Insert</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <interviewLabel>Generación Analíticas Pipeline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generación Analíticas Pipeline</label>
    <loops>
        <name>Recorrer_Lineas_de_Proyecto</name>
        <label>Recorrer Líneas de Proyecto</label>
        <locationX>1220</locationX>
        <locationY>1186</locationY>
        <collectionReference>Obtener_lineas_de_proyecto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aniadir_Analitica_Nueva</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Nuevas_Analiticas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Analitica</name>
        <label>Crear Analitica</label>
        <locationX>78</locationX>
        <locationY>641</locationY>
        <inputAssignments>
            <field>Clan__c</field>
            <value>
                <elementReference>$Record.Clan_Principal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cuenta__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mercado__c</field>
            <value>
                <elementReference>$Record.Mercado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oportunidad__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sede_Venta__c</field>
            <value>
                <elementReference>$Record.Sede_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </inputAssignments>
        <object>Analitica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Nuevas_Analiticas</name>
        <label>Crear Nuevas Analíticas</label>
        <locationX>1220</locationX>
        <locationY>1421</locationY>
        <inputReference>Analiticas_de_Lineas_de_Proyecto</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Borrar_Analitica_Cerrada</name>
        <label>Borrar Analitica Cerrada</label>
        <locationX>1331</locationX>
        <locationY>739</locationY>
        <inputReference>Obtener_Analiticas</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Borrar_Analiticas</name>
        <label>Borrar Analíticas</label>
        <locationX>871</locationX>
        <locationY>704</locationY>
        <connector>
            <targetReference>Proba</targetReference>
        </connector>
        <inputReference>Obtener_Analiticas</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetAnaliticaPipelineRecordID</name>
        <label>GetAnaliticaPipelineRecordID</label>
        <locationX>584</locationX>
        <locationY>463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Analiticas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Analitica__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ForecastImporteTotal_Presupuesto</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Analiticas</name>
        <label>Obtener Analíticas</label>
        <locationX>706</locationX>
        <locationY>463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_lineas_de_proyecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Analitica__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_lineas_de_proyecto</name>
        <label>Obtener líneas de proyecto</label>
        <locationX>1048</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Nulo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Linea_de_Proyecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Analitica</name>
        <label>Actualizar Analítica</label>
        <locationX>1124</locationX>
        <locationY>667</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Clan__c</field>
            <value>
                <elementReference>$Record.Clan_Principal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Importe__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mercado__c</field>
            <value>
                <elementReference>$Record.Mercado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sede_Venta__c</field>
            <value>
                <elementReference>$Record.Sede_Venta__c</elementReference>
            </value>
        </inputAssignments>
        <object>Analitica__c</object>
    </recordUpdates>
    <start>
        <locationX>459</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAnaliticaPipelineRecordID</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AnaliticaNueva</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Analitica__c</objectType>
    </variables>
    <variables>
        <name>Analiticas_de_Lineas_de_Proyecto</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Analitica__c</objectType>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
