force-app/main/default/flows/GTMCreationEmailAlert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_GTM_CreationOppGlobal</name>
        <label>GTM Creation Alert Opportunity Global</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GTMCreationAlertOppTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>gtm_global@vasscompany.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>GTM CREATION ALERT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailAlertGTMCreationOppLATAM</name>
        <label>GTM Creation Alert Opportunity LATAM</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GTMCreationAlertOppTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>gtm_sola@vasscompany.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>GTM CREATION ALERT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailAlertGTMCreationOppSpain</name>
        <label>GTM Creation Alert Opportunity Spain</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GTMCreationAlertOppTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>gtm_spain@vasscompany.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>GTM CREATION ALERT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GTM_Creation_Alert_Global</name>
        <label>GTM Creation Alert Global</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GTMCreationAlertTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>gtm_global@vasscompany.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>GTM CREATION ALERT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GTMCreationAlert_Latam</name>
        <label>GTM Creation Alert Latam</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GTMCreationAlertTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>gtm_sola@vasscompany.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>GTM CREATION ALERT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>GTMCreationAlertSpain</name>
        <label>GTM Creation Alert Spain</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>GTMCreationAlertTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>gtm_spain@vasscompany.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>GTM CREATION ALERT</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>We have 3 possible recipients. In this decision we assess who the email will be sent to depending on the business unit</description>
        <name>Destination_Decision</name>
        <label>Destination Decision</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>RT_Global</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GLOBAL</defaultConnectorLabel>
        <rules>
            <name>SPAIN_ALERT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1800</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1210</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1110</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RT_Spain</targetReference>
            </connector>
            <label>SPAIN</label>
        </rules>
        <rules>
            <name>SOUTH_LATAM_ALERT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Unit__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4210</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4410</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4110</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Unit__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4010</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RT_SOLA</targetReference>
            </connector>
            <label>SOUTH LATAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_decision_Global</name>
        <label>Opportunity decision Global</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Email_Alert_GTM_CreationOppGlobal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related Opp</defaultConnectorLabel>
        <rules>
            <name>Not_Related_OppGlobal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedOpportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GTM_Creation_Alert_Global</targetReference>
            </connector>
            <label>Not Related Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_decisionSpain</name>
        <label>Opportunity decision Spain</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>EmailAlertGTMCreationOppSpain</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related Opp</defaultConnectorLabel>
        <rules>
            <name>Not_Related_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedOpportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GTMCreationAlertSpain</targetReference>
            </connector>
            <label>Not Related Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>pportunity_decision_Latam</name>
        <label>Opportunity decision LATAM</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>EmailAlertGTMCreationOppLATAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related Opp</defaultConnectorLabel>
        <rules>
            <name>Not_Related_Opp_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedOpportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GTMCreationAlert_Latam</targetReference>
            </connector>
            <label>Not Related Opp</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GTM Creation Email Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GTM Creation Email Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>RT_Global</name>
        <label>RT Global</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Opportunity_decision_Global</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123V000000TVYe</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RT_SOLA</name>
        <label>RT SOLA</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>pportunity_decision_Latam</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123V000000TVYj</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>RT_Spain</name>
        <label>RT Spain</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Opportunity_decisionSpain</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123V000000TVYZ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Destination_Decision</targetReference>
        </connector>
        <object>GTMRequest__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>GTMCreationAlertOppTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello, 
A new GTM process has been created. 
Pending assignment.
Detail:
GTM: 
https://vassorg.lightning.force.com/lightning/r/GTMRequest__c/{!$Record.Id}/view
Related Opportunity: 
https://vassorg.lightning.force.com/lightning/r/Opportunity/{!$Record.RelatedOpportunity__r.Id}/view</text>
    </textTemplates>
    <textTemplates>
        <name>GTMCreationAlertTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello, 
A new GTM process has been created. 
Pending assignment.
Detail: 
https://vassorg.lightning.force.com/lightning/r/Opportunity/{!$Record.Id}/view</text>
    </textTemplates>
</Flow>
