force-app/main/default/flows/Mandar_PEP_SAP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Mandar_a_SAP</name>
        <label>Mandar a SAP</label>
        <locationX>347</locationX>
        <locationY>718</locationY>
        <actionName>CallSAPSincro</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lps</name>
            <value>
                <elementReference>UnLP</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CallSAPSincro</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>send</name>
        <label>send</label>
        <locationX>829</locationX>
        <locationY>605</locationY>
        <actionName>Linea_de_Proyecto__c.PEP_denegado</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Linea_de_Proyecto__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Linea_de_Proyecto__c.PEP_denegado</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Asignar_LPS</name>
        <label>Asignar LPS</label>
        <locationX>346</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>UnLP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_linea_de_proyecto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mandar_a_SAP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Conforme_o_no_conforme</name>
        <label>¿Conforme o no conforme?</label>
        <locationX>576</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>Crear_tarea_para_owner_de_opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Revisar</defaultConnectorLabel>
        <rules>
            <name>Mandar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Decision_Creacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_linea_de_proyecto</targetReference>
            </connector>
            <label>Mandar</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Mandar_PEP_SAP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mandar_PEP_SAP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_tarea_para_owner_de_opp</name>
        <label>Crear tarea para owner de opp</label>
        <locationX>837</locationX>
        <locationY>445</locationY>
        <connector>
            <targetReference>send</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Motivo_Descarte__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Linea_de_Proyecto__r.Oportunidad__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Line can&apos;t be synched with SAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Linea_de_Proyecto__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Obtener_linea_de_proyecto</name>
        <label>Obtener linea de proyecto</label>
        <locationX>343</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_LPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Linea_de_Proyecto__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Linea_de_Proyecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Conforme_o_no_conforme</targetReference>
        </connector>
        <object>Sincronizacion_PEP_SAP__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListadeLPs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Linea_de_Proyecto__c</objectType>
    </variables>
    <variables>
        <name>UnLP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Linea_de_Proyecto__c</objectType>
    </variables>
</Flow>
