force-app/main/default/flows/Move_Start_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Tienert</name>
        <label>tieneRates</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>help3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TieneRates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTables</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rate</targetReference>
            </connector>
            <label>TieneRates</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ADD</name>
        <dataType>Date</dataType>
        <expression>{!rate.T_Start_Date__c} + ({!StartDate}-{!GetLp.Fecha_Inicio__c})</expression>
    </formulas>
    <formulas>
        <name>ADDEndate</name>
        <dataType>Date</dataType>
        <expression>{!rate.T_End_Date__c} + ({!StartDate}-{!GetLp.Fecha_Inicio__c})</expression>
    </formulas>
    <formulas>
        <name>enddatelp</name>
        <dataType>Date</dataType>
        <expression>{!GetLp.Fecha_Fin__c} + ({!StartDate}-{!GetLp.Fecha_Inicio__c})</expression>
    </formulas>
    <interviewLabel>Move Start Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Move Start Date</label>
    <loops>
        <name>rate</name>
        <label>rate</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>GetTables</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>rateactu</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateLP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetLp</name>
        <label>GetLp</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Linea_de_Proyecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTables</name>
        <label>GetTables</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChangeDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rates_Table__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>rateactu</name>
        <label>rateactu</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>T_End_Date__c</field>
            <value>
                <elementReference>ADDEndate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>T_Start_Date__c</field>
            <value>
                <elementReference>ADD</elementReference>
            </value>
        </inputAssignments>
        <object>Rates_Table__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateLP</name>
        <label>updateLP</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_Fin__c</field>
            <value>
                <elementReference>enddatelp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_Inicio__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <object>Linea_de_Proyecto__c</object>
    </recordUpdates>
    <screens>
        <name>ChangeDate</name>
        <label>ChangeDate</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tienert</targetReference>
        </connector>
        <fields>
            <name>Help</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please, select the new Close Date(all Project Lines will be updated):&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>GetLp.Fecha_Inicio__c</elementReference>
            </defaultValue>
            <fieldText>StartDate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>help3</name>
        <label>help3</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Help2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The project line must have associated rate cards uploaded from excel&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
