force-app/main/default/flows/Notificacion_Oportunidad_Cancelada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EnvioMail</name>
        <label>EnvioMail</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>Opportunity.Norificacion_Oportunidad_Cancelada</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Norificacion_Oportunidad_Cancelada</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Licencia_o_Licencia_Renovacion</name>
        <label>¿Licencia o Licencia-Renovacion?</label>
        <locationX>336</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecordTypes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VASS_Madrid_o_Nateevo_o_Serbatic_o_VASS_Barcelona</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>VASS_Madrid_o_Nateevo_o_Serbatic_o_VASS_Barcelona</name>
        <label>¿VASS Madrid o Nateevo o Serbatic o VASS Barcelona?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sede_Venta__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VASS Madrid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sede_Venta__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATEEVO DIGITAL SLU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sede_Venta__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SERBATIC SISTEMAS TECNOLÓGICOS, S.A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sede_Venta__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VASS Barcelona</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnvioMail</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Notificacion Oportunidad Cancelada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notificacion Oportunidad Cancelada</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecordTypes</name>
        <label>GetRecordTypes</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Licencia_o_Licencia_Renovacion</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>Nombre_Tipo_Registro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Licencias</stringValue>
            </value>
        </filters>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Nombre_Tipo_Registro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Licencias - Renovación</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Linea_de_Proyecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
