force-app/main/default/flows/Opportunity_Fields_to_GTM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>ZONE_DEC</name>
        <label>Zone Decision</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Update_Recordtype_Global</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GLOBAL</defaultConnectorLabel>
        <rules>
            <name>Spain</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedOpportunity__r.Sede_Venta__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1800</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedOpportunity__r.Sede_Venta__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1210</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedOpportunity__r.Sede_Venta__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1110</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedOpportunity__r.Sede_Venta__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedOpportunity__r.Sede_Venta__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Recordtype_Spain</targetReference>
            </connector>
            <label>Spain</label>
        </rules>
        <rules>
            <name>SOLA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedOpportunity__r.Sede_Venta__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4210</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedOpportunity__r.Sede_Venta__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4410</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedOpportunity__r.Sede_Venta__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4110</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RelatedOpportunity__r.Sede_Venta__r.Sede__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4010</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Recordtype_SOLA</targetReference>
            </connector>
            <label>SOLA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Fields to GTM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Fields to GTM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>market_type_update</name>
        <label>market type update</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>ZONE_DEC</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>$Record.RelatedOpportunity__r.Sede_Venta__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clan_Principal__c</field>
            <value>
                <elementReference>$Record.RelatedOpportunity__r.Clan_Principal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MarketType__c</field>
            <value>
                <elementReference>$Record.RelatedOpportunity__r.Mercado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedAccount__c</field>
            <value>
                <elementReference>$Record.RelatedOpportunity__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution__c</field>
            <value>
                <elementReference>$Record.RelatedOpportunity__r.Solucion__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recordtype_Global</name>
        <label>Update Recordtype Global</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123V000000TVYe</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recordtype_SOLA</name>
        <label>Update Recordtype SOLA</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123V000000TVYj</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recordtype_Spain</name>
        <label>Update Recordtype Spain</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123V000000TVYZ</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>market_type_update</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>RelatedOpportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RelatedOpportunity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>GTMRequest__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
