force-app/main/default/flows/Opportunity_GTM_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Opportunity GTM Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity GTM Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Check_BV</name>
        <label>Check Value Cross Selling</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Value_Cross_Selling__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.RelatedOpportunity__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateGTMOpportunityChecbox</name>
        <label>Update GTM Opportunity Checbox</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Check_BV</targetReference>
        </connector>
        <inputAssignments>
            <field>GTM_Leader_Opp__c</field>
            <value>
                <elementReference>$Record.GTMLeader__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GTM_Request__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.RelatedOpportunity__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateGTMOpportunityChecbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedOpportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>GTMRequest__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
