force-app/main/default/flows/Screenflow_GTMRequestHome.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <dynamicChoiceSets>
        <name>GerenciaGTMRequest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Clan_Principal__c</picklistField>
        <picklistObject>GTMRequest__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SolutionPicklistFlow</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Solution__c</picklistField>
        <picklistObject>GTMRequest__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ValuesMercado</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MarketType__c</picklistField>
        <picklistObject>GTMRequest__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>GTM REQUEST {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GTM REQUEST</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_GTM_Process_HomePage</name>
        <label>New GTM Process</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>FinishFlowGTMRequest</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>RelatedOpportunityScreenFlow.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>DescriptionGTMFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MarketType__c</field>
            <value>
                <elementReference>Tipomercado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GTMNameFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedAccount__c</field>
            <value>
                <elementReference>RelatedOpportunityScreenFlow.RelatedAccount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedOpportunity__c</field>
            <value>
                <elementReference>RelatedOpportunityScreenFlow.RelatedOpportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>RelatedOpportunityScreenFlow.Requester__c</elementReference>
            </value>
        </inputAssignments>
        <object>GTMRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>FinishFlowGTMRequest</name>
        <label>FinishFlowGTMRequest</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextGTSucceded</name>
            <fieldText>&lt;p&gt;GTM Request have been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GTM_details</name>
        <label>GTM details</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_GTM_Process_HomePage</targetReference>
        </connector>
        <fields>
            <name>GTMNameFlow</name>
            <dataType>String</dataType>
            <fieldText>GTM Request Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DescriptionGTMFlow</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>RelatedOpportunityScreenFlow.Business_Unit__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>RelatedOpportunityScreenFlow.RelatedAccount__c</objectFieldReference>
        </fields>
        <fields>
            <name>Tipomercado</name>
            <choiceReferences>ValuesMercado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mercado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>RelatedOpportunityScreenFlow.RelatedOpportunity__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>RelatedOpportunityScreenFlow.Requester__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GTM_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GTMDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Gtmname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedOpportunityScreenFlow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>GTMRequest__c</objectType>
    </variables>
    <variables>
        <name>ResourceGTM</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GTMRequest__c</objectType>
    </variables>
    <variables>
        <name>VariableTest2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
