force-app/main/default/flows/SendToSAP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>HayLLs</name>
        <label>HayLLs</label>
        <locationX>1298</locationX>
        <locationY>274</locationY>
        <defaultConnector>
            <targetReference>SendSAP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HayLPsLL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LP_LL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecorerLPSLL</targetReference>
            </connector>
            <label>HayLPsLL</label>
        </rules>
    </decisions>
    <decisions>
        <name>HayLPS</name>
        <label>HayLPS</label>
        <locationX>363</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>TodasLPS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>HayLP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLPAM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tipo_Ingreso</targetReference>
            </connector>
            <label>HayLP</label>
        </rules>
    </decisions>
    <decisions>
        <name>NohayHitosLL</name>
        <label>NohayHitosLL</label>
        <locationX>1800</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>RecorerLPSLL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NohayHitosLLs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HitosDelaLLp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSAP_0_0</targetReference>
            </connector>
            <label>NohayHitosLL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nohaylpssinjp</name>
        <label>Nohaylpssinjp</label>
        <locationX>982</locationX>
        <locationY>274</locationY>
        <defaultConnector>
            <targetReference>SendSAP_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NohaylpSinJp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TodasLPS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LP_LL</targetReference>
            </connector>
            <label>NohaylpSinJp</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoSehadefinido</name>
        <label>NoSehadefinido</label>
        <locationX>724</locationX>
        <locationY>732</locationY>
        <defaultConnector>
            <targetReference>actu</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>EsNulo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Datatable.numberOfRowsEdited</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>EsNulo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SendT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendToSAP</label>
    <loops>
        <name>RecorerLPSLL</name>
        <label>RecorerLPSLL</label>
        <locationX>1406</locationX>
        <locationY>433</locationY>
        <collectionReference>Get_LP_LL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>HitosDelaLLp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendSAP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_LP_LL</name>
        <label>Get LP LL</label>
        <locationX>1137</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HayLLs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clave_Periodificacion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZLLWIP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>No_aplica_para_ejecucion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Linea_de_Proyecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLPAM</name>
        <label>GetLPAM</label>
        <locationX>377</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HayLPS</targetReference>
        </connector>
        <filterLogic>1 AND 6 AND 5 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Nombre_Tipo_Registro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AM</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nombre_Tipo_Registro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Guardias</stringValue>
            </value>
        </filters>
        <filters>
            <field>Nombre_Tipo_Registro__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hosting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_ingreso__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>No_aplica_para_ejecucion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Linea_de_Proyecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>HitosDelaLLp</name>
        <label>HitosDelaLLp</label>
        <locationX>1434</locationX>
        <locationY>641</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NohayHitosLL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Linea_de_Proyecto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecorerLPSLL.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Hito_de_facturacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TodasLPS</name>
        <label>TodasLPS</label>
        <locationX>821</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nohaylpssinjp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>No_aplica_para_ejecucion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Jefe_de_Proyecto_de_Ejecucion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Oportunidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Linea_de_Proyecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>actu</name>
        <label>actu</label>
        <locationX>929</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>TodasLPS</targetReference>
        </connector>
        <inputReference>Datatable.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>364</locationX>
        <locationY>720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Tipo_Ingreso</targetReference>
        </connector>
        <fields>
            <name>Msgerro</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Debe definir el tipo de ingreso para las lineas de AM.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SendSAP</name>
        <label>SendSAP</label>
        <locationX>1801</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>sEND</name>
            <extensionName>c:SendPEPSEjecucionSAP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SenToSAP</name>
            <fieldText>&lt;p&gt;* Si aplica según tipo tipología de proyecto&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SendSAP_0</name>
        <label>SendSAP</label>
        <locationX>1017</locationX>
        <locationY>544</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoJP</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Some of the project lines do not have an informed project manager. Is necessary to inform the project manager to generate the WBS Element.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SendSAP_0_0</name>
        <label>SendSAP</label>
        <locationX>1841</locationX>
        <locationY>609</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoJP_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Some of the TurnKey project lines  do not have billing milestones. Is necessary to generate the billing milestone to create the WBS Element.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tipo_Ingreso</name>
        <label>Confirmacion Tipo Ingreso</label>
        <locationX>445</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NoSehadefinido</targetReference>
        </connector>
        <fields>
            <name>Ayuda</name>
            <fieldText>&lt;p&gt;Seleccione el tipo de ingreso en función de la facturación:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;b&gt;Por Producción&lt;/b&gt; : No se factura el mismo importe todos los meses.&lt;/li&gt;&lt;li&gt;&lt;b&gt;Fijo Mensual&lt;/b&gt;: Se vende un fijo mensual y se factura por hitos mensuales.                                                             &lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Linea_de_Proyecto__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Linea_de_Proyecto__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetLPAM</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Tipo_de_ingreso__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Nombre_Tipo_Registro__c,Gerencia__c,Area__c,Tipo_de_ingreso__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:85, Nombre_Tipo_Registro__c:170, Gerencia__c:190, Area__c:175, Tipo_de_ingreso__c:208</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Líneas de Proyecto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>custom:custom73</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:false, Nombre_Tipo_Registro__c:false, Gerencia__c:true, Area__c:true, Tipo_de_ingreso__c:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetLPAM</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LPS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Linea_de_Proyecto__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
