force-app/main/default/flows/VentaExtra.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Toast</name>
        <label>Toast</label>
        <locationX>762</locationX>
        <locationY>496</locationY>
        <actionName>c:ShowToast_Flow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>duration</name>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Motivos Guardados</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Exito!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToast_Flow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>VentaExtra {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VentaExtra</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>LPPadre</name>
        <label>LPPadre</label>
        <locationX>559</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Motivos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Linea_de_Proyecto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Linea</name>
        <label>Actualizar Linea</label>
        <locationX>762</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>Toast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LPPadre.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Motivo_Escrito__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_Venta_Extra__c</field>
            <value>
                <elementReference>Motivo</elementReference>
            </value>
        </inputAssignments>
        <object>Linea_de_Proyecto__c</object>
    </recordUpdates>
    <screens>
        <name>Motivos</name>
        <label>Exposición motivos</label>
        <locationX>764</locationX>
        <locationY>114</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actualizar_Linea</targetReference>
        </connector>
        <fields>
            <name>ayuda</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Because this line is checked as an extraordinary sale, it is necesary to go through an approval&amp;nbsp;process.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;To help with said process, type the reason why the line was checked as extraordinary. This information will reach the approver.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Motivo</name>
            <fieldText>Reason</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>LPPadre</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
